/*styles for body and main wrapper container*/
body{
    font-family: Arial, sans-serif;
}
#wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
}

/* block with users*/
.users-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
/*button styles*/
.details-btn{
    display: inline-block;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    border-radius: 4px;
    background-color: #4f6ee8;
    padding: 4px 8px;
    width: auto;
    cursor: pointer;
    font-size: 12px;
    transition: 0.2s;
}
.details-btn:hover{
    background-color: #0a6c8c;
}
/*added responsive design*/
@media (max-width: 480px) {
    #wrapper{
        grid-template-columns: 1fr;
    }
}