body{
    font-family: Arial, sans-serif;
    margin: 10px;
}
#user-details{
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 20px auto;
}
h1{
    margin-left: 50px;
}
ul{
    margin-left: 20px;
    padding-left: 10px;
}
ol{
    margin: 10px 50px;
    list-style-type: decimal;
}
li{
    margin-bottom: 8px;
}
.posts-btn{
    display: block;
    width: 90%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    border-radius: 4px;
    background-color: #4f6ee8;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 12px;
    transition: 0.2s;
    margin: 20px auto;
}
.post-link{
    display: block;
    width: fit-content;
    margin: 0 auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    border-radius: 4px;
    background-color: #4f6ee8;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 12px;
    transition: 0.2s;
}
.post-link:hover{
    background-color: #0a6c8c;
}
.posts-container{
    width: 90%;
    min-height: 150px;
    margin: 0 auto;
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    gap: 15px;
    padding-bottom: 50px;
}
.posts-block h3{
    margin-bottom: 10px;
    text-align: center;
}
.posts-block{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
/*added responsive design for posts cards*/
@media (max-width: 768px){
    #posts-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 480px) {
    #posts-container{
        grid-template-columns: 1fr;
    }
}